<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.hsinyuwang.cloud.mapper.SysPropTypeMapper">
    
    <resultMap type="SysPropType" id="SysPropTypeResult">
        <result property="propTypeId"    column="prop_type_id"    />
        <result property="propTypeName"    column="prop_type_name"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysPropTypeVo">
        select prop_type_id, prop_type_name, remark from sys_prop_type
    </sql>

    <select id="selectSysPropTypeList" parameterType="SysPropType" resultMap="SysPropTypeResult">
        <include refid="selectSysPropTypeVo"/>
        <where>  
            <if test="propTypeName != null  and propTypeName != ''"> and prop_type_name like concat('%', #{propTypeName}, '%')</if>
        </where>
    </select>
    
    <select id="selectSysPropTypeByPropTypeId" parameterType="Long" resultMap="SysPropTypeResult">
        <include refid="selectSysPropTypeVo"/>
        where prop_type_id = #{propTypeId}
    </select>
        
    <insert id="insertSysPropType" parameterType="SysPropType" useGeneratedKeys="true" keyProperty="propTypeId">
        insert into sys_prop_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="propTypeName != null">prop_type_name,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="propTypeName != null">#{propTypeName},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysPropType" parameterType="SysPropType">
        update sys_prop_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="propTypeName != null">prop_type_name = #{propTypeName},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where prop_type_id = #{propTypeId}
    </update>

    <delete id="deleteSysPropTypeByPropTypeId" parameterType="Long">
        delete from sys_prop_type where prop_type_id = #{propTypeId}
    </delete>

    <delete id="deleteSysPropTypeByPropTypeIds" parameterType="String">
        delete from sys_prop_type where prop_type_id in 
        <foreach item="propTypeId" collection="array" open="(" separator="," close=")">
            #{propTypeId}
        </foreach>
    </delete>
</mapper>